html {
  scroll-behavior: smooth;
}

body {
  color: #402a20;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9; 
}

nav li {
  font-family: 'Raleway', sans-serif; 
  text-align: center;
  padding: 15px;

}

nav a {
  color: #381d2a;
  text-decoration: none; 
  text-transform: lowercase;
}

nav a:hover, nav a:focus {
  border-bottom: 3px solid #402a20;
}

nav {
  background-color: #edece9; 
  color: #402a20;
  width: 100%; 
  align-items: center;
  padding: 0px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_links #current-page {
  border-bottom: 3px solid #402a20;
}

h1{
  font-size: 50px;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

}

h2{
  font-size: 28px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align:center;
}

p, li{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 15px;
  text-align: center;
  padding-left: 100px; /* change for each media screen */
  padding-right: 100px; /* change for each media screen */
}

img{
  max-width: 400px;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
    color: rgb(38, 122, 179);
  }

.navigation a{
  text-decoration: none;
  font-size: 20px;
  color: #402a20;
  display: inline-block;
  padding: 8px 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.next{
  float:right;
}
.previous{
  float:left;
}

.navigation a:hover{
  background-color: #402a20;
  color: #f9f9f9;
}

/*----------WORK.HTML----------*/

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.introphrase p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

/* puts boxes in 2x2 */
.workbox {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    max-width: 700px; 
    margin: auto;
}

.researchbox, .hsroboticsbox, .designsbox, .classprojectsbox {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position:absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 0px;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f9f9f9;
}

.researchbox:hover .overlay, .hsroboticsbox:hover .overlay, .designsbox:hover .overlay, .classprojectsbox:hover .overlay{
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


/*----------RESEARCH.HTML----------*/

.ltst{
  text-align:center;
}

.ltst img, .i3 img{
  max-width: 700px;
}

.centered img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------HSROBOTICS.HTML----------*/
.hsroboticsintro, .competitions, .documentations{
  padding: 20px;
}

.competitions li{
  display: flex;
  flex: wrap;
  justify-content: center;
}

.competitions img{
  max-width: 700px;
}

.set1, .set2 {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.doc1p, .doc2p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 100px;
}

/*----------DESIGN.HTML----------*/
/*----------CLASSPROJECTS.HTML----------*/
.classprojectscontainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 5px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.classprojectscontainer > div  {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0px;
}


/*----------CONTACT.HTML----------*/