html {
    scroll-behavior: smooth;
}

body {
    color: #402a20;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f9f9; 
}

nav li {
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    padding: 10px;
}

nav a {
    color: #381d2a;
    text-decoration: none; 
    text-transform: lowercase;
}

nav a:hover, nav a:focus {
    border-bottom: 3px solid black;
}

nav {
    background-color: #edece9; 
    color: black;
    width: 100%; 
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.nav_links #current-page {
    border-bottom: 3px solid black;
}

h1{
  font-size: 50px;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

}

h2{
  font-size: 28px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align:center;
}

p{
  font-family: 'Poppins', sans-serif;
  padding-left: 120px;
  padding-right: 120px;
  line-height: 1.6;
  font-size: 15px;
}

img{
  max-width: 300px;
  max-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

/*----------WORK.HTML----------*/

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 50px;
}

.intro img {
    max-height: 500px;
    min-height: 200px;
    max-width: 400px;
    min-width: 100px;
    padding-bottom: 40px;
}

.introphrase {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 160px 0px 40px 0px;
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
    max-width: 700px; 
    margin: auto;
}

.researchbox, .hsroboticsbox, .designsbox, .classprojectsbox {
    position: relative;
    width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.researchbox:hover .overlay{
  opacity: 1;
}

.hsroboticsbox .overlay{
  opacity: 1;
}

.designsbox .overlay{
  opacity: 1;
}

.classprojectsbox .overlay{
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;

}


/*----------RESEARCH.HTML----------*/

.researchintro, .ltst, .i3{
  padding: 20px;
}

.ltst{
  position:relative;
  text-align:center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------HSROBOTICS.HTML----------*/
.hsroboticsintro, .competitions, .documentations{
  padding: 20px;
}

/*----------DESIGN.HTML----------*/
/*----------CLASSPROJECTS.HTML----------*/
/*----------CONTACT.HTML----------*/