html {
  scroll-behavior: smooth;
}

body {
  color: #402a20;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9; 
}

nav li {
  font-family: 'Raleway', sans-serif; 
  text-align: center;
  padding: 15px;

}

nav a {
  color: #381d2a;
  text-decoration: none; 
  text-transform: lowercase;
}

nav a:hover, nav a:focus {
  border-bottom: 3px solid #402a20;
}

nav {
  background-color: #edece9; 
  color: #402a20;
  width: 100%; 
  align-items: center;
  padding: 0px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_links #current-page {
  border-bottom: 3px solid #402a20;
}

h1{
  font-size: 50px;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

}

h2{
  font-size: 28px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align:center;
}

p, li{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 15px;
  text-align: center;
  padding-left: 100px; /* change for each media screen */
  padding-right: 100px; /* change for each media screen */
}

ul{
  list-style-type: none;
}

img{
  max-width: 400px;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
    color: rgb(38, 122, 179);
  }

.navigation a{
  text-decoration: none;
  font-size: 20px;
  color: #402a20;
  display: inline-block;
  padding: 8px 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.next{
  float:right;
}
.previous{
  float:left;
}

.navigation a:hover{
  background-color: #402a20;
  color: #f9f9f9;
}

/*----------HOME.HTML----------*/

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.introphrase p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.researchbox, .hsroboticsbox, .projectsbox {
  position:relative;
  width: 75%;
  padding-bottom: 45px;
}

.homecontainer {
  display: grid;
  grid-template-columns: auto;
  background-color:#f9f9f9;
  padding: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 850px; 
  margin: auto;
}

.homecontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
}


.home-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f9f9f9;
}

.researchbox:hover .overlay, .hsroboticsbox:hover .overlay, .projectsbox:hover .overlay{
  opacity: 1;
}

.text {
  color: #402a20;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


/*----------RESEARCH.HTML----------*/

.researchcontainer img{
  max-width: 800px;
  max-height: 800px;
  padding-bottom:0px;
  padding-top:0px;
  opacity: 0.45;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.ltst-image, .i3-image{
  position: relative;
  overflow: hidden;
}

.research-overlay {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ltst-image:hover .research-image, .i3-image:hover .research-image{
  opacity: 1;
}

.ltst-image:hover .research-overlay, .i3-image:hover .research-overlay{
  opacity: 0;
}

.research-text {
  color: #402a20;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

.researchintro{
  max-width: 1500px; 
}

.researchcontainer {
  display: grid;
  grid-template-columns: auto;
  background-color: #f9f9f9;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 900px; 
  margin: auto;
}

.researchcontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px 0px;
}

/*----------HSROBOTICS.HTML----------*/

/*
.hsroboticsintro, .competitions, .documentations{
  padding: 20px;
}

.competitions li{
  display: flex;
  flex: wrap;
  justify-content: center;
}

.competitions img{
  max-width: 700px;
}

.documentationscontainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.documentationscontainer > div  {
  text-align: center;
  padding: 20px 0px;
}

*/

.roboticsintro, .seaperch-image, .MATE-image{
  padding: 20px;
}

.documentationsintro{
  padding-top: 50px;
  padding-bottom: 20px;
}

.roboticscontainer img{
  max-width: 800px;
  max-height: 800px;
  padding-bottom:0px;
  padding-top:0px;
  opacity: 0.25;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.seaperch-image, .MATE-image{
  position: relative;
  overflow: hidden;
}

.competition-overlay {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.seaperch-image:hover .competition-image, .MATE-image:hover .competition-image{
  opacity: 1;
}

.seaperch-image:hover .competition-overlay, .MATE-image:hover .competition-overlay{
  opacity: 0;
}

.competition-text {
  color: #402a20;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

.roboticsintro{
  max-width: 1500px; 
}

.roboticscontainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f9f9f9;
  padding: 5px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 900px; 
  margin: auto;
  grid-gap: 20px;
}

.researchcontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px 0px;
}

.roboticsintro, .seaperch-image, .seaperch-description, .MATE-image, .MATE-description, .documentationsintro{
  grid-column:1/end;
}

.doc1p, .doc2p, .doc3p{
  grid-column:1/2;
}

.doc1i, .doc2i, .doc3i{
  grid-column: 2/3;
}

.doc1i img, .doc2i img, .doc3i img{
  opacity: 1;
}

/*----------PROJECTS.HTML----------*/
/*.projectscontainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 5px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.projectscontainer > div  {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0px;
}
*/

.projectscontainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f9f9f9;
  padding: 5px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 900px; 
  margin: auto;
  grid-gap: 20px;
}

.projectscontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px 0px;
}

.projectsintro{
  grid-column:1/end;
}

.p1i, .p2i, .p3i, .p4i{
  grid-column: 2/3;
}

.project1, .project2, .project3, .project4{
  grid-column:1/2;
}

/*----------CONTACT.HTML----------*/